#wrapper {
    background-color: #5F259F; /*purp background >600 */
    color: white; /*white text >600 */
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1, p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
    
}

#main-nav {
    /*space from wall */
    margin-left: 5px;
}

/* spaces between */
#main-nav li {
    padding: 5px 0px;
}

#main-nav li a {
    color: #FFCC00; /* link color */
    font-weight: none;
}


@media screen and (min-width: 600px) {
    
    #wrapper {
        /* background picture */
        background-image: url('https://images.unsplash.com/photo-1586769852836-bc069f19e1b6');
        background-size: cover;
        background-attachment: fixed;
        color: #000000; /* from white to black */
    }
    
    /* from yellow to blue */
    #main-nav li a {
        color: #0000FF; 
    }
}